<md-content class="aboutImg">
  <h1 layout-margin class="animated fadeInLeftBig headerAbout">Why Simplify?</h1>

  <p class="animated fadeInRightBig aboutText">Research has shown that the brain has only so much capacity for the number of decisions we can effectively make each day before the quality of our decisions begin to wear down. This has been called "decision fatigue."<br><br>
  Simplify is all about using technology to help you pare down the number of common decisions you have to make each day so that you can focus on the ones that matter.<p>

  <h1 class="animated fadeInLeftBig headerAbout">How it Works</h1>
  <p class="animated fadeInRightBig aboutText">The first thing we do in the morning is usually check our phone. Knowing this, Simplify sends an automated message to your email each morning that lists your customized decision list for the day. For example, a person usually checks the weather to see what they need to wear for the day. Simplify automatically sends you the weather report based on your location and lists out your wardrobe for the day.<br><br>Additional options will be added to even suggest what to eat for lunch, or even what workout to do based on your overall goals. This way, everyday common decisions are automated for you so you don't have to think about them. Instead you can focus on the ones that matter.</p>
  <div layout="row" layout-align="center" class="animated fadeInDown">
    <md-button href="/signup" ng-hide="isLoggedIn()" class="md-raised md-accent">Sign Up Here</md-button>
  </div>
</md-content>