<md-bottom-sheet class="bottomSheet">
  <div layout="row" class="animated fadeInLeftBig">
    <md-card>
      <md-card-content layout="row">
        <md-card-title-media>
          <div class="info-media">
            <img class="about-photo" src="http://i.imgur.com/uxiEIpw.jpg">
          </div>
        </md-card-title-media>
        <md-card-title>
        <md-card-title-text>
          <span class="md-headline">James Chi</span>
          <span class="md-subhead">Web Developer</span>
        </md-card-title-text>
      </md-card-title>
      </md-card-content>
      
      <md-card-actions layout="row" layout-align="end">
        <md-button href="http://www.jameschi.com" class="md-raised md-accent">
          <!-- <md-tooltip md-direction="top">
            View my personal website!
          </md-tooltip> -->
            Website
        </md-button>
        <md-button href="mailto:hello@jameschi.com" class="md-raised md-accent">
          <!-- <md-tooltip md-direction="top">
            Email me!
          </md-tooltip> -->
          Contact
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card> 
        <md-card-title> 
          <md-card-title-text>
            <span class="md-headline">Greetings!</span>
            <span class="md-subhead">This website is a personal project that I've worked on over the course of about 7 days. It's definitely still a work in process but please let me know if you have any suggestions! I would love to hear from you!<br>Technologies Used:<br>-HTML5, CSS3, Angular Material, Javascript, MongoDB, Express, AngularJS, NodeJS<br>Thanks so much for visiting!</span>
          </md-card-title-text>
        </md-card-title>  
      </md-card> 
  </div>
</md-bottom-sheet>